.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
}

.logo {
  width: 175px;
}

.nav-items > ul {
  padding-top: 30px;
  display: flex;
  font-size: 1.2em;
}

.nav-items > ul > li {
  padding: 0px 15px;
  list-style-type: none;
}
